body {
    display: grid;
    grid-template-areas:
        "a a b"
        "c d b"
        "c e b"
        "f f f";
    grid-template-rows: 100px 50px minmax(450px, auto) 100px;
    grid-template-columns: minmax(150px, 1.3fr) minmax(460px, 3fr) minmax(150px, 1.3fr);
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

div {
    margin: 3px;
    padding: 5px;
}

img {
    width: 100%;
}

.a {
    grid-area: a;
    background-color: #C6D9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.box {
    width: 15vw;
    max-width: 150px;
    height: 30%;
    max-height: 30px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    font-size: clamp(1px, 1.9vw, 18px);
}

.box h2 {
    margin: 0;
    font-size: 1.3em;
}

.text {
    border: 0px;
    text-align: right;
}

.b {
    grid-area: b;
    background-color: #EAF1DD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.b img {
    width: 95%;
    height: auto;
    margin: 5px;
}

.c {
    grid-area: c;
    background-color: #FDE9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.c ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.c ul li {
    margin: 15px;
}

.nav-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: 0.25s ease;
}

.nav-link:hover {
    transform: scale(1.1);
}

.d {
    grid-area: d;
    background-color: #FDE9D9;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.e {
    grid-area: e;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    overflow: auto;
}

.e p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.e h3 {
    margin: 20px;
    text-align: center;
}

.e ol {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

.e img {
    width: 454px;
    height: 200px;
}

.f {
    grid-area: f;
    background-color: #C6D9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
            "a"
            "c"
            "d"
            "e"
            "b"
            "f";
        grid-template-rows: 70px auto 50px 600px 650px 70px;
        grid-template-columns: 1fr;
    }
}