body {
    display: grid;
    grid-template-areas:
        "header header pics-right-side"
        "nav-menu-left-side title pics-right-side"
        "nav-menu-left-side main-content pics-right-side"
        "footer footer footer";
    grid-template-rows: 100px 50px auto 100px;
    grid-template-columns: minmax(150px, 1.3fr) minmax(470px, 3fr) minmax(150px, 1.3fr);
    height: 100vh;
    margin: 0;
    gap: 5px;
    font-size: 20px;
}

.header, .pics-right-side, .nav-menu-left-side, .title, .main-content, .footer, .box {
    display: flex;
    align-items: center;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.header, .footer {
    background-color: #C6D9F1;
    justify-content: space-between;
    padding: 20px;
}

.box {
    width: 15vw;
    max-width: 130px;
    height: 30%;
    max-height: 30px;
    background-color: white;
    border: 2px solid black;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: clamp(1px, 1.5vw, 14px);
}

.text {
    border: 0px;
    text-align: right;
}

.pics-right-side {
    grid-area: pics-right-side;
    background-color: #EAF1DD;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.pics-right-side img {
    width: 95%;
    height: auto;
    margin: 5px;
}

.nav-menu-left-side {
    grid-area: nav-menu-left-side;
    background-color: #FDE9D9;
    justify-content: center;
}

.nav-menu-left-side ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav-menu-left-side ul li {
    margin: 15px;
}

.nav-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: 0.25s ease;
}

.nav-link:hover {
    transform: scale(1.1);
}

.title {
    grid-area: title;
    background-color: #FDE9D9;
    justify-content: left;
    padding: 20px;
}

.main-content {
    grid-area: main-content;
    background-color: #FFFFFF;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
}

.main-content p {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.main-content h3 {
    margin: 20px;
    text-align: center;
}

.main-content ol {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

.main-content img {
    width: 454px;
    height: 200px;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "nav-menu-left-side"
            "title"
            "main-content"
            "pics-right-side"
            "footer";
        grid-template-rows: 70px auto 50px auto 650px 70px;
        grid-template-columns: 1fr;
    }

    .main-content {
        margin: 0 5px;
    }

    .main-content img {
        width: 100%;
        height: auto;
    }
}
