body {
    display: grid;
    grid-template-areas:
        "a a b"
        "c d b"
        "c e b"
        "f f f";
    grid-template-rows: minmax(50px, auto) 50px minmax(300px, auto) minmax(50px, auto);
    grid-template-columns: 1.3fr 3fr 1.3fr;
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

div {
    margin: 3px;
    padding: 5px;
}

img {
    width: 100%;
}

.a {
    grid-area: a;
    background-color: #C6D9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.box {
    width: 15vw;
    max-width: 150px;
    height: 30%;
    max-height: 30px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    font-size: clamp(1px, 1.9vw, 18px);
}

.box h2 {
    margin: 0;
    font-size: 1.3em;
}

.text {
    border: 0px;
}

.b {
    grid-area: b;
    background-color: #EAF1DD;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.c {
    grid-area: c;
    background-color: #FDE9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.c ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.c ul li {
    margin: 15px;
}

.d {
    grid-area: d;
    background-color: #FDE9D9;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.e {
    grid-area: e;
    background-color: #FFFFFF;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.e p {
    width: 100%;
}

.f {
    grid-area: f;
    background-color: #C6D9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: transform 0.1s ease;
}

.nav-link:hover {
    transform: scale(1.1);
}