* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100vh;
}

.upper {
    display: flex;
    height: 85%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 15%;
    min-height: 80px;
    background-color: #C6D9F1;
}

.left {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.right-side {
    display: flex;
    width: 20%;
    background-color: #EAF1DD;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 15%;
    min-height: 80px;
    background-color: #C6D9F1;
}

.box {
    display: flex;
    width: 15vw;
    max-width: 130px;
    height: 65%;
    max-height: 90px;
    background-color: white;
    border: 2px solid black;
    justify-content: right;
    align-items: center;
    padding: 2px;
    font-size: clamp(1px, 1.5vw, 14px);
}

.text {
    border: 0px;
    text-align: right;
}

.main {
    display: flex;
    height: 85%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 135px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FDE9D9;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav-menu ul li {
    margin: 15px;
}

.nav-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: 0.25s ease;
}

.nav-link:hover {
    transform: scale(1.1);
}

.mid-4-5 {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.title {
    display: flex;
    height: 10%;
    min-height: 40px;
    background-color: #FDE9D9;
    align-items: center;
    padding-left: 10px;
}

.content {
    display: flex;
    height: 90%;
    background-color: #FFFFFF;
}